{% extends 'dashboard/base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
  <h2 class="mb-4">Bienvenue sur ColisTransfert</h2>
  <p>Facilitez l'envoi de colis via des voyageurs.</p>
  <div>
    <a href="{% url 'voir_offres' %}" class="btn btn-primary">Voir les Offres</a>
    <a href="{% url 'publier_offre_colis' %}" class="btn btn-primary">Publier une Offre de Colis</a>
  </div>
  
  <div class="container mt-5">
    <div data-slot-slider data-interval="2500" data-duration="250" class="slot-slider">
      <div class="slot-slider-items">
        <div class="slot-slider-item">Bienvenue sur cette site</div>
        <div class="slot-slider-item">Ici nous mettons en relation </div>
        <div class="slot-slider-item">Ceux qui ont des offres de Kilos libres qu'ils ont </div>
        <div class="slot-slider-item">Et ceux qui recherchent ces offres</div>
      </div>
    </div>
  </div>
{% endblock %}
